@use "@/styles/variables" as *;

.card {
  width: 75%;

  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(22px);
  border-radius: 24px;
  padding: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.05),
    inset 0 1px 0 rgba(255, 255, 255, 0.7);
}

/* MOBILE FIX */
@media (max-width: $bp-tablet) {
  .card {
    width: 100%;
  }
}
